<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myloginapp">

    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLoginApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".device_adapter_view"
            android:exported="true" />
        <activity
            android:name=".DeviceListAdapter"
            android:exported="true" />
        <activity
            android:name=".Bluetooth"
            android:exported="true" />
        <activity
            android:name=".DeviceList"
            android:exported="true" />
        <activity
            android:name=".ChatUtils"
            android:exported="true" />
        <activity
            android:name=".PhysicalParameters4"
            android:exported="true" />
        <activity
            android:name=".RatingRun"
            android:exported="true" />
        <activity
            android:name=".LifetimeMetricsSub"
            android:exported="true" />
        <activity
            android:name=".MostRecentRun"
            android:exported="true" />
        <activity
            android:name=".PhysicalParameters3"
            android:exported="true" />
        <activity
            android:name=".PhysicalParameteres2"
            android:exported="true" />
        <activity
            android:name=".SelectWeek"
            android:exported="true" />
        <activity
            android:name=".LifetimeMetrics"
            android:exported="true" />
        <activity
            android:name=".MainProgramModule"
            android:exported="true" />
        <activity
            android:name=".MainMenu"
            android:exported="true" />
        <activity
            android:name=".Cto10k_Context"
            android:exported="true" />
        <activity
            android:name=".PhysicalParameters"
            android:exported="true" />
        <activity
            android:name=".Welcome_Page"
            android:exported="true" />
        <activity
            android:name=".New_User"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>